<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Usuarios</h1>
    <a href="usuarios/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i>
        agregar
        usuario</a>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de usuarios registrados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Password</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Password</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>

                    {{#each usuarios}}
                    <tr>
                        <td>{{ nombre }} {{ apellido }}</td>
                        <td>{{correo}}</td>
                        <td>{{password}}</td>
                        <td>{{tipo}}</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <a href="/usuarios/edit/{{id}}" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span class="text">Editar</span>
                                    </a>
                                    <form action="/usuarios/{{id}}?_method=DELETE" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-icon-split"
                                            onclick="return confirm('Seguro que deseas eliminar el usuario {{ nombre }} {{ apellido }}?');"
                                            value="Eliminar">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">Eliminar</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{else}}
                    <td>No existen usuarios registradas</td>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>